@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Orbitron&display=swap');

.brick {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 300px;
  padding-bottom: 15px;
  background-color: #b5b0ac;
  border: 1px solid #76716d;
  border-radius: 20px 20px 0 0;
  box-shadow:
    inset 0px 0px 15px 15px #9b9590,
    inset 0px 0px 65px 10px rgba(255, 255, 255, 0.5),
    0px 0px 15px -5px #9b9590;
}

.center {
  z-index: 10;
  width: 272px;
  height: 70px;
  margin: -15px 0;
  background-color: #b5b0ac;
  border-right: 1px solid #76716d;
  border-left: 1px solid #76716d;
  border-radius: 20px;
  box-shadow:
    inset 0px 0px 15px 15px #9b9590,
    inset 0px 0px 65px 10px rgba(255, 255, 255, 0.5),
    0px -8px 15px -5px #9b9590,
    0px 8px 15px -5px #9b9590;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 340px;
  background-color: #b5b0ac;
  border: 1px solid #76716d;
  border-radius: 0 0 20px 20px;
  box-shadow:
    inset 0px 0px 15px 15px #9b9590,
    inset 0px 0px 65px 10px rgba(255, 255, 255, 0.5),
    0px 0px 15px -5px #9b9590;
}

.top-left,
.top-right {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 32px;
  margin: 0 5px;
}

.bg-cell {
  width: 12px;
  height: 12px;
  margin-top: 3px;
}

.frame {
  border: 5px solid transparent;
  outline: 4px solid #dea901;
}

.screen {
  display: flex;
  width: 155px;
  background-color: #989f7e;
  border: 1px solid #000;
  outline: 1px solid #000;
  box-shadow:
    inset 0px 0px 10px 3px #898f70,
    0px 0px 5px 5px #9b9590;
}

#game {
  width: 110px;
  height: 220px;
  font-size: 11px;
  line-height: 11px;
  outline: 2px solid #000;
}

#game-info {
  width: 45px;
  font-family: 'Orbitron', sans-serif;
  font-size: 10px;
  text-align: right;
  word-break: break-all;
}

.invisible {
  visibility: hidden;
}

.score-text {
  padding: 5px 3px 0 5px;
  font-size: 5px;
  font-weight: 900;
}

#score,
#hi-score,
#speed {
  padding: 0 3px;
  font-size: 10px;
}

#next-figure {
  padding: 5px 0 0;
}

.cell {
  display: inline-flex;
  height: 11px;
  width: 11px;
}

.filled {
  opacity: 1;
}

.empty {
  opacity: 0.1;
}

.horizontal-buttons {
  display: flex;
  justify-content: space-around;
  width: 180px;
  margin-top: 40px;
}

.horizontal-texts {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin-top: 5px;
}

.control-buttons {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin-top: 15px;
}

.arrow-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110px;
}

.arrow-symbols {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 28px;
  font-size: 12px;
  line-height: 10px;
}

.line-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  margin: 5px 0;
}

.rotate-button-container {
  display: flex;
  align-items: center;
}

.rotate-symbol {
  font-size: 40px;
  transform: scale(-1);
  padding: 5px;
}

.rotate-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
}

.rotate-text {
  position: relative;
  width: 60px;
  height: 20px;
}

.rotate-text-letter {
  position: absolute;
}

.rotate-text-letter:nth-child(1) {
  left: 0;
  bottom: 0;
  transform: rotate(320deg);
}

.rotate-text-letter:nth-child(2) {
  left: 10px;
  bottom: 7px;
  transform: rotate(335deg);
}

.rotate-text-letter:nth-child(3) {
  left: 20px;
  bottom: 10px;
  transform: rotate(350deg);
}

.rotate-text-letter:nth-child(4) {
  left: 30px;
  bottom: 10px;
  transform: rotate(365deg);
}

.rotate-text-letter:nth-child(5) {
  left: 41px;
  bottom: 7px;
  transform: rotate(390deg);
}

.rotate-text-letter:nth-child(6) {
  left: 50px;
  bottom: 0;
  transform: rotate(405deg);
}

.info {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin-top: 20px;
  padding: 0 0 10px;
  border-bottom: 4px solid #dea901;
}

.title {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 26px;
  font-weight: 700;
  transform: rotate(330deg);
  text-align: end;
}

.logo {
  color: #e11511;
  font-size: 60px;
}

.button {
  border-radius: 50%;
  border: 1px solid rgba(232, 196, 62, 0.9);
  background-color: #dea901;
  box-shadow:
    0px 6px 5px 0px #9b9590,
    0px 1px 3px 0px #262422,
    inset 5px 5px 10px 0px rgba(232, 196, 62, 0.9);
  cursor: pointer;
}

.button:hover,
.button:focus {
  box-shadow:
    0px 6px 5px 0px #9b9590,
    0px 1px 3px 0px #262422,
    inset 5px 5px 10px 1px rgb(232, 196, 62);
}

.button:active {
  box-shadow:
    0px 3px 5px 0px #9b9590,
    0px 1px 3px 0px #262422,
    0px 0px 5px 0px #7f7a75,
    0px 0px 3px 0px #161514,
    inset 5px 5px 10px 1px rgb(248, 210, 70);
}

.button.small {
  width: 20px;
  height: 20px;
}

.button.medium {
  width: 30px;
  height: 30px;
}

.button.big {
  width: 50px;
  height: 50px;
}

.text {
  font-family: 'Orbitron', sans-serif;
  font-size: 9px;
  font-weight: 900;
  text-align: center;
}

.text.small {
  width: 45px;
}

.text.big {
  font-size: 12px;
  font-weight: 900;
}
